<!doctype html>
<html>
<head>
	<title>Steam Web API Guide</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="header">
  <h1> Steam Web API Guide </h1>
 </div>

 <div class="navigation">
 <ul class="links">
 <li class="link"> <a href="http://flip3.engr.oregonstate.edu:12725/"> Introduction</a>
 <li class="link"> <a href="http://flip3.engr.oregonstate.edu:12725/interfaces"> Interfaces</a>
 <li class="link"> <a href="http://flip3.engr.oregonstate.edu:12725/ISteamNews"> Example: ISteamNews</a>
 <li class="link"> <a href="http://flip3.engr.oregonstate.edu:12725/ISteamUser"> Example: ISteamUser</a>
 <li class="link"> <a href="http://flip3.engr.oregonstate.edu:12725/ISteamUserStats">Example: ISteamUserStats</a>
 </ul>
 </div>
	{{{body}}}
</body>
</html>